body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxcontainer {
  background: rgb(27, 201, 27);
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.uno {
  background: rgb(219, 150, 21);
  width: 150px;
  height: 200px;
  border-radius: 15px;
}
